In [ ]:
# 1. Use a python code to display the following star pattern using the for loop
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# * 


for i in range(1,6):
    for j in range(i):
        print("*", end=" ")
    print("")

for i in range(4,0,-1):
    for j in range(i):
        print("*", end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# 2. Use looping to output the elements from a provided list present at odd indexes.
# my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for index in range(1, len(my_list), 2):
    print(my_list[index])

20
40
60
80
100

In [ ]:
# 3. Write a code that appends the type of elements from a given list.
# Input
#  x = [23, ‘Python’, 23.98]
#  Expected output
#  [23, 'Python', 23.98]
#  [<class 'int'>, <class 'str'>, <class 'float'>]

x = [23, 'Python', 23.98]

types = []

for i in x:
    types.append(type(i))

print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [3]:
# 4. Write a function that takes a list and returns a new list with unique items of the first list.
# Sample List: [1,2,3,3,3,3,4,5]
# Unique List: [1, 2, 3, 4, 5]


def unique_list(list1):
  return list(set(list1))

sample_list = [1,2,3,3,3,3,4,5]
print("Unique list:", unique_list(sample_list))

Unique list: [1, 2, 3, 4, 5]

In [4]:
# 5. Write a function that accepts a string and calculate the number of upper-case letters and lower-case
# letters. 
# Input String: 'The quick Brow Fox'
# Expected Output:
# No. of Upper-case characters: 3
# No. of Lower-case Characters: 12

def calculate_the_case(string):
    upper_case = 0
    lower_case = 0
    for char in string:
        if char.isupper():
            upper_case += 1
        elif char.islower():
            lower_case += 1
    return "No. of Upper-case characters: " + str(upper_case) + "\n" + "No. of Lower-case characters: " + str(lower_case)

print(calculate_the_case("The quick Brow Fox"))

No. of Upper-case characters: 3
No. of Lower-case characters: 12